.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: $default-font-size;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    transform: translateY(-2rem) scale(1.03);
  }

  &__heading {
    padding-bottom: 1.5rem;
  }

  &__text {
    text-align: justify;
    hyphens: auto;
  }
}
