// -----------------------------
// Variables
// -----------------------------

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-light-1: #f7f7f7;
$color-grey-dary: #777;
$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// -----------------------------
// Header
// -----------------------------

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: lato;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dary;
  padding: 1.6rem;
}

// -----------------------------
// Header
// -----------------------------

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.5rem;
  }
  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .heading-primary {
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
      display: block;
      color: $color-white;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      text-transform: uppercase;

      animation-name: moveInLeft;
      animation-duration: 3s;
    }

    &--sub {
      display: block;
      color: $color-white;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.74rem;
      text-transform: uppercase;

      animation: moveInRight 3s;
    }
  }

  .heading-secondary {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    background-clip: text;
    // -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s;

    &:hover {
      transform: skewY(2deg) skewX(5deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }
  }

  .heading-teritary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
  }

  .paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

// -----------------------------
// Button
// -----------------------------

.btn {
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    /* height: 60px; */
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    transition: all 0.2s;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dary;

    &::after {
      background-color: $color-white;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    &::after {
      transform: scale(1.4);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0%;
    left: 0;
    z-index: -1;
    transition: all 0.2s;
  }

  &--animated {
    animation: moveBtnBottom 3s ease-out;
  }
}

.btn-text {
  &:link,
  &visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 0.5rem 1.5rem;
    transition: 0.5s all;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(3px);
  }
}

// -----------------------------
// Animations
// -----------------------------

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  90% {
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  90% {
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveBtnBottom {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
